html, body {
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    min-width: 800px;
    min-height: 600px;
}

body, button, textarea, input {
    font-family: "Montserrat";
    font-size: 12pt;
}

div {
    background: local;
}

aside {
    width: 16ch;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.main {
    margin-left: 16ch;
    overflow: hidden;
}

.sidebar_main {
    width: 20ch;
}

.checkbox {
    margin-left: 16ch;
}

form {
    display: inline-block;
}

input {
    width: 25ch;
}

input[type="checkbox"] {
    width: 20px;
}

button, .account, .postbtn, .adduser {
    white-space: nowrap;
    overflow: hidden;
}

button {
    padding: 6px 8px;
    border: none;
    width: 12ch;
}

.btn_long {
    width: 16ch;
}

.btn_active, .btn_inactive {
    width: 100%;
}

textarea {
    resize: none;
}

.chatbox, .postbox {
    padding-left: 20ch;
    padding-top: 5ch;
    padding-bottom: 15ch;
    text-align: left;
    overflow-x: hidden;
}

.chatbox_short {
    padding-left: 36ch;
    padding-top: 5ch;
    padding-bottom: 15ch;
    text-align: left;
    overflow-x: hidden;
}

.userlist_box {
    padding-left: 36ch;
    padding-top: 20ch;
    text-align: left;
}

.text_example {
    width: 40ch;
    text-align: left;
}

.topbar {
    position : fixed;
    text-align: left;
    margin-left: 20ch;
    padding-left: 2ch;
    left: 0;
    top: 0;
    width: 100%;
    height: 5ch;
}

.send {
    position: fixed;
    margin-left: 20ch;
    width: calc(100% - 20ch);
    bottom: 0;
    height: 15ch;
}

.send_short {
    position: fixed;
    margin-left: 36ch;
    width: calc(100% - 36ch);
    bottom: 0;
    height: 15ch;
}

.adduser {
    position: fixed;
    margin-left: 36ch;
    margin-top: 5ch;
    width: calc(100% - 36ch);
    height: 15ch;
}

.message {
    width: calc(100% - 4ch);
    height: 5ch;
}

.account {
    width: 20ch;
    position: fixed;
    bottom: 0;
}

.list_bottom {
    width: 16ch;
    position: fixed;
    bottom: 0;
}

.msg_background {
    width: 100%;
    height: 100%;
}

.userlist {
    margin-left: 20ch;
    margin-top: 5ch;
    width: 16ch;
    height: 100%;
    position: fixed;
}

.pagelist {
    width: 20ch;
    margin-top: 5ch;
}

.postbtn {
    text-align: left;
    margin-top: 1ch;
    margin-left: 1ch;
    width: calc(100% - 2ch);
}

.radiolist {
    width: 20ch;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}