button, .btn_active {
    background-color: #b400f0;
}

button:hover, .btn_active:hover {
    background-color: #c040ff;
}

b {
    color: #bc00fa;
}

a {
    color: #b400f0;
}

a:hover {
    color: #c040ff;
}

.user {
    color: #ff00ff;
}