button, .btn_active {
    background-color: #f00028;
}

button:hover, .btn_active:hover {
    background-color: #ff2030;
}

b {
    color: #f5002a;
}

a {
    color: #f00028;
}

a:hover {
    color: #ff2030;
}

.user {
    color: #f00054;
}