button, .btn_active {
    background-color: #1caa00;
}

button:hover, .btn_active:hover {
    background-color: #21c800;
}

b {
    color: #1eb400;
}

a {
    color: #1caa00;
}

a:hover {
    color: #21c800;
}

.user {
    color: #00c01a;
}