button, .btn_active {
    background-color: #008cff;
}

button:hover, .btn_active:hover {
    background-color: #00aaff;
}

b {
    color: #00a0ff;
}

a {
    color: #008cff;
}

a:hover {
    color: #00aaff;
}

.user {
    color: #00c8b7;
}